.main {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}