:root {
    --dark-gray: #1B1A17;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Instrument Sans", sans-serif;
}

body {
    width: 850px;
    height: 900px;
    background-color: var(--dark-gray);
}