:root {
    --dark-gray: #1B1A17;
    --text-color: #ffffff;
    --frosted-gray-30: rgba(57, 65, 66, 0.3);
    --blue-glow: radial-gradient(
            circle at 65% 70%,
            rgba(0,104,229,0.1),
            rgba(0,104,229,0) 70%
    );
    --primary-blue: rgb(0,104,229);
    --glow-color-canvas: 226,62,41;
    --glow-color-neptun: 0,125,198;
    --glow-color-tms: 255,255,255;
    --body-glow-x: 50%;
    --body-glow-y: 50%;
    --body-glow-intensity: 0;
}

* {
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Instrument Sans", sans-serif;
    letter-spacing: 0.5px;
}

html {
    font-size: 13px;
}

body {
    width: 330px;
    background-color: var(--dark-gray);
    margin: 15px 20px;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--blue-glow);
    transform: scaleX(1.8) scaleY(.7) translateY(40%);
    filter: blur(40px);
    pointer-events: none;
}

#root {
    position: relative;
    width: 100%;
    height: 100%;
}

#root::after {
  content: "";
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  pointer-events: none;
  z-index: 9999;
  background:
    radial-gradient(
      circle at var(--body-glow-x, 50%) var(--body-glow-y, 50%),
      rgba(var(--body-glow-color, 0,180,255), calc(var(--body-glow-intensity,0)*0.18)) 0%,
      rgba(var(--body-glow-color, 0,180,255), calc(var(--body-glow-intensity,0)*0.08)) 18%,
      rgba(var(--body-glow-color, 0,180,255),0) 40%
    );
  opacity: var(--body-glow-intensity,0);
  filter: blur(30px) saturate(1.1);
  transition: opacity 0.4s cubic-bezier(.4,1.6,.6,1), background 0.4s cubic-bezier(.4,1.6,.6,1);
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid white;
    background: white;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

label {
    font-size: 1rem;
}