.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.label {
    margin-left: 15px;
}

.input {
    background-color: var(--frosted-gray-30);
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    width: 300px;
}