.auto-login-label {
    position: absolute;
    top: 19%;
    right: 6.5%;
    display: inline-block;
    font-size: 10px;
    color: gray;
    transition: color 1s ease;
}

.auto-login-label::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: width 1s ease;
}

.auto-login-label.active::after {
    width: 100%;
    animation: gradientFlow 3s linear infinite 1s;
    -webkit-animation: gradientFlow 3s linear infinite 1s;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.toggle-container {
    position: relative;
    width: 40px;
    height: 24px;
    flex-shrink: 0;
}
.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background 0.4s;
}
.toggle-label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.main-toggle:checked + .toggle-label {
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.main-toggle:checked + .toggle-label:before {
    transform: translateX(16px);
}

.settings-toggle:checked + .toggle-label {
    background-color: #66bb6a;
}
.settings-toggle:checked + .toggle-label:before {
    transform: translateX(16px);
}